extends layout

block content
  h1 Using the Reddit API
  :markdown
    The [Reddit API](https://www.reddit.com/dev/api) has access to nearly aspect of the website for which a regular user
    browsing the site via a typical web browser would have access to.
  
  #next
    a(href="/step1") Next
