doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/default.min.css")
    link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/rainbow.min.css")
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js")
    script.
      hljs.initHighlightingOnLoad();
  body
    - var client_id = "Uib6t-SVuC7dvw"
    - var URI = "http://52.88.236.109:3000/one-time-code"
    #container
      #guideLinks
        ul
          li
            a(href="/") Home
          li 
            a(href="/step1") Setting up Authentication
          li
            a(href="/step2") Access Tokens
          li 
            a(href="/step3") API Requests
          li 
            a(href="https://github.com/jensbodal/cs290-howto-reddit-api") This Site on Github
      #mainBlock
        block content
