extends layout

block content
  - var access_token = pageData[0]
  
  :marked
    # Making API Requests
    You now have an access token to make API request assuming you've stuck with me this far.
    The access token field below will be empty if not :(

    Your `access_token` is:
    ```html
    #{access_token}
    ```
    Request must be made to the following URL:
    ```bash
    https://oauth.reddit.com/api/v1
    ```
    
    The only requirement for further calls is that the header makes a basic HTTP
    authentication call with the bearer `access_token`
    ```html
    Header:
    Authorization : 'bearer [access_token from Step 5 response]'
    ```

  form(method="POST", action="/reddit_api")
    table
      tr
        td access_token
        td
          input.entry(type="text", name="access_token", value="#{access_token}")
      tr
        td
          input.button(type="submit", value="POST")

  br

  :marked
    Unfortunately this is where this guide ends.  For the life of me I cannot figure out how to make
    a simple HTTP request to make API calls, though the information works fine with `cURL`.  I am going
    to post the code that I believe should work, and an example of what I believe to be a similar call
    with `cURL`.  The access key above has [identity access/scope](https://www.reddit.com/dev/api/oauth#scope_identity), 
    so theoretically we should have been able to make calls to the following URLs:
    * `/api/v1/me`
    * `/api/v1/me/prefs`
    * `/api/v1/me/trophies`

    

  br
  #prev
    a(href="/step2") Previous
  #next
    a(href="/step4") Next
