extends layout

block content
  
  h1 Step 1
  p Here is step 1
  :markdown
    ```cpp
    int main() {
        return 0;
    }
    ```
  
    ```bash
    if test -r "${HOME}/.profile"; then
        #dostuff
    fi
    ```

  #prev
    a(href="/") Previous
  #next
    a(href="/step2") Next
