extends layout

block content
  script(src="/javascripts/reddit_api.js")
  - var access_token = pageData[0]
  
  :marked
    # Making API Requests
    You now have an access token to make API request assuming you've stuck with me this far.
    The access token field below will be empty if not :(

    Your `access_token` is:
    ```html
    #{access_token}
    ```
    Request must be made to the following URL:
    ```bash
    https://oauth.reddit.com/api/v1
    ```
    
    The only requirement for further calls is that the header makes a basic HTTP
    authentication call with the bearer `access_token`
    ```html
    Header:
    Authorization : 'bearer [access_token from Step 5 response]'
    ```

  form#inputForm
    table
      tr
        td access_token
        td
          input.entry(type="text", id="token-id", name="access_token", value="#{access_token}")

  br
  


  :marked
    The access key above has [identity access/scope](https://www.reddit.com/dev/api/oauth#scope_identity), 
    so we are able to make calls to the following URLs:
    * `/api/v1/me`
    * `/api/v1/me/prefs`
    * `/api/v1/me/trophies`

    Click below for an example of an API call to `/api/v1/me`

  form
    input(type="submit", id="api-me-button", value="/api/v1/me")
  pre
    code(class="lang-javascript hljs")
      #sample-return-area

  br
  #prev
    a(href="/step2") Previous

