extends layout

block content
  
  h1 Step 1
  p Here is step 1
  
  div
    form(method="GET", action="/getAPIkey")
      p Reddit user name: 
        input(type="text", name="title", value="HER")
        input(type="submit", value="add")

  #prev
    a(href="/") Previous
  #next
    a(href="/step2") Next
