
extends layout

block content
  
  :markdown
    # Setting up Authentication

    There are three types of authenticating an App, and they are [detailed here](https://github.com/reddit/reddit/wiki/OAuth2-App-Types).
    For our purposes we are going to create a Web app which can be authenticated as any user, and make requests on their behalf.

  
    The following data will be needed in order to make a request for a one-time use code which can then be exchanged for a bearer token. The details of the
    various pieces of information can be found on the [OAuth2 Authorization](https://github.com/reddit/reddit/wiki/OAuth2#authorization) page.

  - var cllient_id = "Uib6t-SVuC7dvw"
  
  div
    form(method="GET", action="https://www.reddit.com/api/v1/authorize?")
      // form(method="GET", action="/") //

      table
        tr
          td Client ID
          td
            input(type="text", name="client_id", value="#{cllient_id}")
        tr
          td Response Type
          td
            input(type="text", name="response_type", value="code")
        tr
          td State
          td
            input(type="text", name="state", value="this_is_random_string")
        tr
          td Redirect URI
          td
            input(type="text", name="redirect_uri", value="http://52.88.236.109:3000/one-time-code")
        tr
          td Duration
          td
            input(type="text", name="duration", value="temporary")
        tr
          td Scope
          td
            input(type="text", name="scope", value="identity")
        tr
          td
            input(type="submit", value="add")
  
  #one-time-code
    if pageData
      p #{pageData[1]}
    else

  #prev
    a(href="/") Previous
  #next
    a(href="/step2") Next
