body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#container {
  width: 100%;
}
#mainBlock {
  float: left;
  width: 70%;
}
#guideLinks {
  float: right;
  width: 20%;
}
#guideLinks ul {
  list-style-type: none;
}
#prev {
  float: left;
  margin-left: 0%;
}
#next {
  float: left;
  margin-left: 1%;
}
