body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#container {
  width: 95%;
}
#mainBlock {
  float: left;
  width: 70%;
}
#guideLinks {
  float: right;
  width: 20%;
}
#guideLinks ul {
  list-style-type: none;
}
#prev a,
#next a {
  text-decoration: none !important;
  font-weight: bold;
  background-color: #eee;
  color: #333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #ccc;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #ccc;
}
#prev {
  text-transform: uppercase;
  float: left;
  margin-left: 0%;
  text-decoration: none;
}
#next {
  text-transform: uppercase;
  float: left;
  margin-left: 1%;
}
input.entry {
  width: 300px;
}
